<h2 style="padding-top: 20px; padding-bottom: 20px;">Check Event Ticket Status </h2>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <form (ngSubmit)="onSubmit(tc)" #tc="ngForm">
            <div class="form-group">
                <label for="ticketnumber">Ticket Number:</label>
                <input type="text" class="form-control" [(ngModel)]="ticketnumber" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-primary">Check Status</button>
            {{ticketStatus}}
        </form>
    </div>
</div>